/* Home.css */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    animation: fadeIn 2s ease-in-out;
  }
  
  .fade-in-text {
    animation: fadeIn 3s ease-in-out;
  }
  
  .fade-in-input {
    animation: fadeIn 4s ease-in-out;
  }
  